#重写规则
<IfModule mod_rewrite.c>
RewriteEngine On

## admin
#RewriteRule ^(.*)$ /www/20160827/ [L]
#RewriteRule ^main\.(.*)$ /www/20160827/main.$1 [L]

# api重定向到apis/index.php
RewriteRule ^api/(.*)/(.*)$ /apis/index.php?module=$1&$2 [L]
RewriteRule ^api/(.*)$ /apis/index.php?module=$1 [L]


# ErrorDocument 403 /404.html